# API URL
VITE_API_URL=http://localhost:5000/api

#  App Name
VITE_APP_NAME=Bayyina

# Logotip/favicon
VITE_APP_LOGO=/logo.svg

# Theme colors
VITE_APP_PRIMARY=33 33% 35%
VITE_APP_BACKGROUND=36 50% 98%